<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{titulo}}</h5>
          <button type="button" class="btn-close" (click)="closeModal()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="alert"></div>
          <form id="dataVehicleForm">
            <div *ngIf="action == actionEnum.DELETE; else elseForm">
              <app-dialog-form [vin]="vin"></app-dialog-form>
            </div>
            <ng-template #elseForm>
              <app-data-form></app-data-form>
            </ng-template>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" id="btnSubmit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
