<input class="form-control" type="hidden" id="id" name="id">
<div class="row">
    <div class="form-group">
        <div class="col-md-12">
            <label class="form-label" for="vin">Código vin</label>
            <input class="form-control" type="text" id="vin" 
                name="vin" required>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <label class="form-label" for="odometro">Odômetro</label>
        <input class="form-control" type="number" id="odometro" 
            name="odometro" required>
    </div>
    <div class="col-md-6 form-group">
        <label class="form-label" for="pressao_pneus">Pressão pneus</label>
        <input class="form-control" type="text" id="pressao_pneus" 
            name="pressao_pneus" required>
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <label class="form-label" for="status_veiculo">Status veículo</label>
        <input class="form-control" type="text" id="status_veiculo" 
            name="status_veiculo" required>
    </div>
    <div class="col-md-6 form-group">
        <label class="form-label" for="status_bateria">Status bateria</label>
        <input class="form-control" type="text" id="status_bateria" 
            name="status_bateria" required>
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label class="form-label" for="nivel_combustivel">Nível combustível</label>
        <input class="form-control" type="number" id="nivel_combustivel" 
            name="nivel_combustivel" required>
    </div>
    <div class="col-md-4 form-group">
        <label class="form-label" for="latitude">Latitude</label>
        <input class="form-control" type="number" placeholder="00.0000" 
            id="latitude" name="latitude" required>
    </div>
    <div class="col-md-4 form-group">
        <label class="form-label" for="longitude">Longitude</label>
        <input class="form-control" type="number" placeholder="00.0000" 
            id="longitude" name="longitude" required>
    </div>
</div>
