.chart1 {
    padding-left: 18vh;
}

.chart2 {
    padding-left: 5vh;
}

.legenda1, .legenda2 {
    position: relative;
}

.legenda1 span, .legenda2 span {
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: #0f4b84;
    font-weight: 600;
}

.legenda1 span {
    left: calc(18vh * 100 / 41);
}

.legenda2 span {
    left: calc(5vh * 100 / 16);
}

/* div span {
    position:absolute;
    top:72%;
    left:53%;
    transform:translate(-50%,-50%);
    font-size: 20px;
    color: #0f4b84;
    font-weight: 600;
  } */