div .chart {
    float: left;
}

.legenda {
    position: relative;
}

.legenda span {
    position: absolute;
    top: 0%;
    left: 42%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: #0f4b84;
    font-weight: 600;
}

/* div span {
    position:absolute;
    top:72%;
    left:53%;
    transform:translate(-50%,-50%);
    font-size: 20px;
    color: #0f4b84;
    font-weight: 600;
  } */