<div>
    <div class="row">
        <div class="col-sm-6 data-chart">
            <div class="chart1" id="donut_connected"></div>
        </div>
        <div class="col-sm-6 data-chart">
            <div class="chart2" id="donut_softUpdate"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 legenda1">
            <span>{{connectedPerc}}%</span>
        </div>
        <div class="col-sm-6 legenda2">
            <span>{{softUpdatePerc}}%</span>
        </div>
    </div>
</div>
