.content-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 400px;
  background-color: #e9ecef;
}

.form {
  min-height: 100vh;
}

img {
  max-width: 80vh;
  height: auto;
}

.logo {
  padding-top: 10vh;
  display: flex;
  padding-bottom: 15vh;
}

.logo img {
  width: 25vh;
}

.vert-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
  padding-left: 30px;
}

.vert-align img {
  max-width: 70vh;
}

div.d-flex h2 {
  color: #76B947;
}

.fields {
  padding-left: 2vh;
  padding-right: 2vh;
}

.form-switch {
  display: flex !important;
  flex-direction: row-reverse !important;
  justify-content: space-between !important;
  word-break: break-word;
  margin-right: 1vh;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

label {
  font-size: large;
}

.form-check-input {
	height: 1.5em !important;
  width: 2.5em !important;
  margin-top: .1vh;
  margin-left: 5vh;
}

.d-grid {
  padding-left: .5vh;
  padding-right: .5vh;
}

.input-group-text {
  border-right: none;
  background-color: #ffffff;
}

.input-group-text i {
  color: #76B947;
  width: 20px;
}

.form-control {
  border-left: none;
  background-color: #ffffff;
}

/* button {
  margin-bottom: 30px;
} */
