<app-cabecalho [activeHome]="true"></app-cabecalho>
<div class="row">
  <div class="col-md-12 d-flex ranger flex-column justify-content-center align-items-center">
    <img
      class="img-fluid d-none d-sm-block"
      src="assets/img/ranger.png"
      alt="Imagem ford ranger"
    />
  </div>
</div>

<div class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content imp-bg">
      <div class="modal-header">
        <h5 class="modal-title">Sistema de dados FORD</h5>
      </div>
      <div class="modal-body">
        <p>Seja bem vindo(a)!</p>
      </div>
    </div>
  </div>
</div>
